force-app/main/default/flows/Account_Industry_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_app_to_updated_record</name>
        <label>assign app to updated record</label>
        <locationX>396</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>opptoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp</name>
        <label>Assign Opp</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NumOfOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Of_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage</name>
        <label>Assign Stage</label>
        <locationX>396</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Update_Stage.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Analysis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_app_to_updated_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Of_Evaluation</name>
        <label>Record Of Evaluation</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>3 Or Fewer</defaultConnectorLabel>
        <rules>
            <name>More_than_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumOfOpp</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <label>More than 3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Industry Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Industry Change</label>
    <loops>
        <name>Update_Stage</name>
        <label>Update Stage</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>308</locationX>
        <locationY>1055</locationY>
        <inputReference>opptoupdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NumOfOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>opptoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
